<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <!-- Cobertura is required by VS, OpenConver by SonarScanner. -->
          <Format>cobertura,opencover</Format>
          <SingleHit>false</SingleHit>
          <!-- SonarScanner requires local file paths. -->
          <UseSourceLink>false</UseSourceLink>
          <IncludeTestAssembly>true</IncludeTestAssembly>
          <SkipAutoProps>true</SkipAutoProps>
          <!-- OpenCover reporter does not support deterministic reports.  -->
          <DeterministicReport>true</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>