<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Set following repository as default target for push operations -->
    <add key="defaultPushSource" value="https://www.myget.org/F/pomma89/api/v3/index.json" />
  </config>
  <packageSources>
    <!-- Add these repositories to the list of available repositories -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="myget.org/pomma89" value="https://www.myget.org/F/pomma89/api/v3/index.json" />
    <add key="myget.org/pommalabs" value="https://www.myget.org/F/pommalabs/api/v3/index.json" />
  </packageSources>
</configuration>
